.box {
    color: #666;
    font-size: 24px;
}

button {
	cursor: pointer;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 0px solid #ccc;
}

button a {
	background: #ccc;
}

.error-msg {
    color: red;
}

